* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color-scheme: dark;
  font-family: 'Lato', sans-serif;
}
:root {
  --color-primary: #72c6c3;
}
.cl-formButtonPrimary {
  font-size: 14px;
  text-transform: none;
  background-color: #00abb3;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  transform: scale(1.05);
  background-color: #358e8e;
}
.cl-internal-17ydaof {
  width: 22rem;
}
.cl-internal-b3fm6y {
  background-color: #00abb3;
}
.cl-internal-15amzqo {
  color: #00abb3;
}
.cl-internal-15amzqo:hover {
  color: #358e8e;
}
