.wrapper {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: calc(100% - 60px);
  height: 75px;
  z-index: 999;
  box-sizing: border-box;
  box-shadow: var(--shadow);
  border-radius: 15px;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 1.8rem;
}
.nav_button {
  display: none;
}
@media (max-width: 1268px) {
  .logo {
    display: none;
  }
  .nav_button {
    display: block;
  }
}
