/* loginLayout.module.css */
.loginLayout {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Hide overflow to prevent scrollbars */
  display: flex;
  justify-content: flex-end; /* Align content to the right */
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 30%;
  padding-right: 50px;
  color: white;
} */

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 30%; */
  padding-right: 50px;
  color: white;
}
.appName {
  text-transform: uppercase;
  color: #00abb3;
  display: block;
  position: absolute;
  left: 50px;
  top: 250px;
  font-size: 1.9rem;
  font-weight: bold;
}
.tagline,
.tagline2 {
  margin-bottom: 40px;
  font-size: 1rem;
  text-transform: uppercase;
  padding-right: 15px;
  position: absolute;
  left: 50px;
  top: 320px;
  font-size: 1.2rem;
}
.tagline2 {
  top: 350px;
}
